<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Caketopia - Signup</title>
  <%- include('partials/declaration') %>
</head>
<body>
  <%- include('partials/header', {isLoggedIn: false}) %>
  <div class="main">

    <h1>Register Information</h1>

    <% if (error) { %>
      <div class="notify">
        <% const arr = error.split(","); %>
        <ul>
          <% arr.forEach(el => { %>
            <li><%= el %></li>
          <% }) %>
        </ul>
      </div>
    <% } %>

    <form action="/signup" method="post" class="ui form">

      <div class="field">
        <label for="name">Name</label>
        <input name="name" type="text" placeholder="John Doe">
      </div>

      <div class="field">
        <label for="email">E-mail</label>
        <input name="email" type="email" placeholder="john.doe@mail.com">
      </div>

      <div class="field">
        <label for="phoneNumber">Phone Number</label>
        <input name="phoneNumber" type="tel" placeholder="08112345678">
      </div>

      <div class="field">
        <label for="address">Address</label>
        <input name="address" type="text" placeholder="Perumahan 123 di Jalan Anggrek, Surabaya">
      </div>

      <div class="field">
        <label for="role">I am signing up as a:</label>
        <div class="ui radio checkbox">
          <input name="role" type="radio" value="Vendor"><label for="role">Vendor</label>
        </div>
        <div class="ui radio checkbox">
          <input name="role" type="radio" value="Customer"><label for="role">Customer</label>
        </div>
      </div>
      
      <div class="field">
        <label for="password">Password</label>
        <input name="password" type="password" placeholder="swordfish">
      </div>

      <input type="submit" class="ui button">

    </form>
  </div>

</body>
</html>